@import 'Generic';

.mySlides
{
    height: 500px;
    object-fit: cover;
}

.mySlides_option_img
{
    height: 150px;
    object-fit: cover;
}

.w3-third img
{
    height: 200px;
    object-fit: cover;
}